<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<form action="/add" method="POST">
		新闻标题：<input type="text" name="title"/>
		新闻内容：<textarea name="content" id="" cols="30" rows="10"></textarea>
		<input type="submit" value="提交"/>		
	</form>
</body>

</html>